# ─── Neon Database ────────────────────────────────────────────
DATABASE_URL=postgresql://neondb_owner:npg_ZR2VeFOwt7GH@ep-shy-forest-ag9xyb1u-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# ─── Auth.js ──────────────────────────────────────────────────
AUTH_SECRET=1b27cc8e7f57c379d54f99b230e95c232e403a0a5c9f91e8a085e904680e0499

# ─── App Mode ─────────────────────────────────────────────────
NEXT_PUBLIC_USE_MOCK_DATA=false
